.works {
  margin: 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 30px;

  .maskTitle {
    cursor: pointer;
    grid-row: 1;
    overflow: hidden;
    place-self: start;
    text-align: right;
    grid-column: 1/13;

    a {
      cursor: pointer;
      display: block;
      text-decoration: none;

      h2 {
        //text-transform: uppercase;
        cursor: pointer;
        color: var(--secColor);
        font-size: clamp(50px, 10vw, 150px);

        span {
          cursor: pointer;
          &:nth-last-child(-n + 3) {
            -webkit-text-stroke: 0.5px var(--secColor);
            color: var(--primColor);
          }
        }
      }
    }
  }

  .arrow {
    padding-top: 20px;
    grid-row: 1;
    cursor: pointer;
    grid-column: 1/13;
    align-self: center;
    justify-self: end;
    position: relative;
    overflow: hidden;

    svg {
      display: block;
      width: 150px;
      height: fit-content;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      color: var(--secColor);
    }
  }

  .canvas {
    grid-row: 2;
    cursor: auto;
    grid-column: 1/13;
  }

  .maskNumber {
    grid-column: 1/13;
    grid-row: 2;
    justify-self: flex-start;
    overflow: hidden;
    align-self: center;

    .number {
      padding-top: 150px;
      z-index: 10;
      font-size: clamp(50px, 13vw, 220px);
      color: rgba(206, 192, 173, 0.38);
    }
  }

  .blockText {
    display: flex;
    justify-content: space-between;
    grid-column: 1/13;

    .with {
      font-size: clamp(50px, 10vw, 150px);
      color: var(--secColor);
      overflow: hidden;

      div {
        span {
          &:nth-last-child(-n + 3) {
            -webkit-text-stroke: 0.5px var(--secColor);
            color: var(--primColor);
          }
        }

      }
    }

    .role {
      overflow: hidden;
      align-self: center;
      font-size: 20px;
      line-height: 1.2;
      color: var(--secColor);

      span {
        display: block;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .canvas {
      grid-column: 2/12;
      height: 50vh !important;
    }
  }

  @media screen and (max-width: 500px) {
    .arrow {
      display: none;
    }

    .blockText {
      display: block;

      .role {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}