.home {
  margin: 20px 0 20px 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 30px;

  .lineMaskHead {
    padding-left: 10px;
    overflow: hidden;
    place-self: start;
    grid-column: 1/13;

    h1 {
      -webkit-text-stroke: 0.5px var(--secColor);
      color: var(--secColor);
      text-align: left;
      font-size: clamp(50px, 5vw, 150px);
      overflow: hidden;

      span {
        &:nth-last-child(-n + 5) {
          -webkit-text-stroke: 0.5px var(--secColor);
          color: var(--primColor);
        }
      }
    }
  }

  .arrow {
    padding-right: 30px;
    cursor: pointer;
    grid-column: 1/13;
    align-self: center;
    justify-self: end;
    position: relative;
    //transform: rotate(-90deg);
    overflow: hidden;

    svg {
      width: 100px;
      height: fit-content;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      color: var(--secColor);
    }
  }

  .lineMaskFoot {
    overflow: hidden;
    align-self: end;
    text-align: right;
    grid-column: 1/13;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;

    .date {
      align-self: end;
      color: var(--secColor);
    }

    h2 {
      overflow: hidden;
      color: var(--secColor);
      font-size: clamp(50px, 5vw, 150px);

      span {
        &:nth-child(-n + 5) {
          -webkit-text-stroke: 0.5px var(--secColor);
          color: var(--primColor);
        }
      }
    }
  }

  .mobileTxt {
    display: none;
  }

  @media screen and (max-width: 450px) {
    .mobileTxt {
      display: block;
      grid-column: 1/13;
      position: absolute;
      bottom: 160px;
      text-align: center;
      font-size: 13px;
      color: var(--secColor);
    }

    .arrow {
      display: none;
      justify-self: center;
      padding: unset;
      margin-top: 60vh;

      span {
        display: none;
      }
    }

    .lineMaskFoot, .lineMaskHead {
      padding: unset;
    }
  }
}