.home {
  margin: 20px 0 20px 20px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 30px;


  .headerMask {
    display: flex;
    justify-content: space-between;
    grid-column: 1/13;
    padding-left: 10px;
    padding-right: 30px;
    height: fit-content;


    .lineMaskHead {
      overflow: hidden;
      place-self: start;

      h1 {
        -webkit-text-stroke: 0.5px var(--secColor);
        color: var(--secColor);
        text-align: left;
        font-size: clamp(30px, 5vw, 150px);
        overflow: hidden;

        span {
          &:nth-last-child(-n + 5) {
            -webkit-text-stroke: 0.5px var(--secColor);
            color: var(--primColor);
          }
        }
      }
    }

    .maskHeadRight, .maskHeadRightMobile {
      display: flex;
      align-items: center;

      .footer {
        gap: 20px;
        display: flex;
        color: var(--secColor);


        a {
          cursor: pointer;
          color: var(--secColor);
          text-decoration: none;
        }
      }
    }

    maskHeadRightMobile {
    }


  }

  .arrow {
    padding-right: 30px;
    cursor: pointer;
    grid-column: 1/13;
    align-self: center;
    justify-self: end;
    position: relative;
    //transform: rotate(-90deg);
    overflow: hidden;

    svg {
      width: 100px;
      height: fit-content;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      color: var(--secColor);
    }
  }

  .projects {
    grid-column: 1/13;
    color: var(--secColor);
    align-self: flex-end;
    padding-left: 10px;


    .project {
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      gap: 5px;

      a {
        font-size: 18px;
        cursor: pointer;
        color: var(--secColor);
        text-decoration: none;

        &:hover {
          opacity: 0.5;
        }
      }

      p {
        font-size: 11px;
      }

    }
  }

  .lineMaskFoot {
    height: fit-content;
    overflow: hidden;
    align-self: end;
    text-align: right;
    grid-column: 1/13;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;

    .date {
      text-decoration: none;
      align-self: end;
      color: var(--secColor);
      cursor: pointer;
    }

    h2 {
      overflow: hidden;
      color: var(--secColor);
      font-size: clamp(30px, 5vw, 150px);

      span {
        &:nth-child(-n + 5) {
          -webkit-text-stroke: 0.5px var(--secColor);
          color: var(--primColor);
        }
      }
    }
  }

  .mobileTxt {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .headerMask {
      padding-left: unset;

      .maskHeadRight {
        display: none;
      }

      .maskHeadRightMobile {
        display: flex;

        .footer {
          gap: 10px;
        }
      }
    }

    .projects {
      padding-left: unset;
      display: flex;
      padding-top: 60vh;
      gap: 10px;
      flex-direction: column;

      .project {
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 5px;


        a {
          font-size: 10px;

          &:hover {
            opacity: 1;
          }
        }

        p {
          opacity: 0.4;
          font-size: 8px;
        }

      }
    }

    .lineMaskFoot {
      justify-content: flex-end;

      .date {
        font-size: 10px;
        align-self: center;
      }

      h2 {
        display: none;
      }
    }
  }
}